@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*css vars*/
    --color-primary: #000000;
    --color-secondary: #f3f3f3;
    --color-background: #ffffff;
    --color-hover: gray;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 7vw;
    padding-right: 7vw;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 100;
    background-color: var(--color-background);
}

.header_nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 25px;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_left_h1 {
    margin-left: 5px;
}

.header_nav_li a {
    text-decoration: none;
    color: var(--color-primary);
}

.header_nav_li a:hover {
    color: var(--color-hover);
}

#logo {
    width: 60px;
    height: auto;
}

.aboutMe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 40vw;
}

.aboutMe_background {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: -50px;
}

#aboutMe_photo,
#aboutMe_vectors {
    width: auto;
    height: 40vw;
    flex-shrink: 0;
}

.aboutMe_content {
    position: absolute;
    top: 50%;
    left: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    color: var(--color-primary);
}

.aboutMe_content h1 {
    margin-top: 0;
}

.aboutMe_content p {
    margin-top: 0;
}

.footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    margin-top: 50px;
}

.footer_imgs {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.footer_text {
    text-align: center;
}

.MyWorks {
    padding-left: 7vw;
    padding-right: 7vw;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.MyWorks_imgs {
    display: flex;
    gap: 20px; /* Отступы между картинками */
}

.MyWorks_imgs_right {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Отступы между вертикальными элементами */
    flex: 1; /* Занимает оставшееся пространство */
}

.MyWorks_imgs_right_up {
    display: flex;
    gap: 20px; /* Отступы между горизонтальными элементами */
}

/* Общие стили для всех картинок */
.MyWorks_imgs img {
    max-width: 100%; /* Ограничение ширины картинки */
    height: auto; /* Сохранение пропорций */
    flex: 1; /* Картинки будут равномерно распределяться */
    object-fit: cover;
}

#pelms {
    aspect-ratio: 3 / 4; /* Пример: пропорции 3:4 */
}

/* Индивидуальные настройки высоты для каждой картинки 
#pelms {
    height: calc(100vh * 0.4 + 20px); 
}

#rez {
    height: calc(100vh * 0.2);
}

#orig {
    height: calc(100vh * 0.2);
}

#klub {
    height: calc(100vh * 0.15);
}