@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /*css vars*/
    --color-primary: #000000;
    --color-secondary: #f3f3f3;
    --color-background: #ffffff;
    --color-hover: gray;
    font-family: 'Montserrat Alternates', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-left: 7vw;
    padding-right: 7vw;
    align-items: center;
    position: sticky;
    top: 0%;
    z-index: 100;
    background-color: var(--color-background);
}

.header_nav {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 25px;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_left_h1 {
    margin-left: 5px;
    font-weight: 800;
}

.header_nav_li a {
    text-decoration: none;
    color: var(--color-primary);
}

.header_nav_li a:hover {
    color: var(--color-hover);
}

#logo {
    width: 60px;
    height: auto;
}

.aboutMe {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 40vw;
}

.aboutMe_background {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    overflow: hidden;
}

/* Общие стили */
#aboutMe_photo,
#aboutMe_vectors {
    width: auto;
    height: 40vw;
    flex-shrink: 0;
    position: relative; /* Для корректного позиционирования */
}

/* Анимация для #aboutMe_photo (выезжает слева) */
#aboutMe_photo {
    animation: slideFromLeft 1.5s ease-out forwards;
}

/* Анимация для #aboutMe_vectors (выезжает справа) */
#aboutMe_vectors {
    animation: slideFromRight 1.5s ease-out;
}

/* Ключевые кадры для выезда слева */
@keyframes slideFromLeft {
    0% {
        transform: translateX(-100%); /* Начальное положение: за пределами экрана слева */
        opacity: 0; /* Начальная прозрачность */
    }
    100% {
        transform: translateX(0); /* Конечное положение: на месте */
        opacity: 1; /* Полная видимость */
    }
}

/* Ключевые кадры для выезда справа */
@keyframes slideFromRight {
    0% {
        transform: translateX(100%); /* Начальное положение: за пределами экрана справа */
        opacity: 0; /* Начальная прозрачность */
    }
    100% {
        transform: translateX(0); /* Конечное положение: на месте */
        opacity: 1; /* Полная видимость */
    }
}

.aboutMe_content {
    position: absolute;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    color: var(--color-primary);
    left: 50%;
}

.aboutMe_content h1 {
    margin-top: 0;
    font-weight: 900;
    font-size: 4.5vw;
}

.aboutMe_content p {
    margin-top: 0;
    font-size: 2vw;
}

.footer {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 180px;
    margin-top: 40px;
}

.footer_imgs {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    height: 17%;
}

.footer_text {
    margin-top: 15px;
    text-align: center;
}

.Description {
    padding-left: 7vw;
    padding-right: 7vw;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.Form {
    padding-left: 7vw;
    padding-right: 7vw;
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-top: 55px;
    font-size: 1.4vw;
    position: relative;
    height: 40vw;
}

.Description_designer {
    font-size: 1.4vw;
}

.MyWorks {
    padding-left: 7vw;
    padding-right: 7vw;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.MyWorks_imgs {
    display: flex;
    gap: 20px; /* Отступы между картинками */
}

.MyWorks_imgs_right {
    display: flex;
    flex-direction: column;
    gap: 20px; /* Отступы между вертикальными элементами */
    flex: 1; /* Занимает оставшееся пространство */
}

.MyWorks_imgs_right_up {
    display: flex;
    gap: 20px; /* Отступы между горизонтальными элементами */
}

/* Общие стили для всех картинок */
.MyWorks_imgs img {
    height: auto; /* Сохранение пропорций */
    flex: 1; /* Картинки будут равномерно распределяться */
    object-fit: cover;
}

#rez {
    height: calc(100vh * 0.2);
}

#orig {
    height: calc(100vh * 0.2);
}

#klub {
    height: calc(100vh * 0.15);
}

h2 {
    font-size: 2.5vw;
}

.aboutMe2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-height: 40vw;
}

.aboutMe2_background {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    margin-bottom: -50px;
}

#lera_zvezda {
    width: auto;
    height: 40vw;
    flex-shrink: 0;
    margin-left: 3vw;
}

.aboutMe2_content {
    position: absolute;
    top: 30%;
    left: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
    color: var(--color-primary);
    left: 45%;
}

.aboutMe2_content h1 {
    margin-top: 0;
    font-weight: 900;
    font-size: 4.5vw;
}

.aboutMe2_content p {
    margin-top: 0;
    font-size: 2vw;
}

#aboutMe2_vectors {
    width: auto;
    height: 40vw;
    flex-shrink: 0;
}

.Form_place {
    background-color: #f3f3f3;
    border: none;
    outline: none;
    padding: 8px;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 12px; /* Внутренние отступы */
    height: 2vw;
    font-size: 1.2vw;
}
.Form_email {
    background-color: #f3f3f3;
    border: none;
    outline: none;
    padding: 8px;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 12px; /* Внутренние отступы */
    height: 2vw;
    font-size: 1.2vw;
}

textarea {
    background-color: #f3f3f3;
    border: none;
    outline: none;
    padding: 8px;
    font-family: 'Montserrat Alternates', sans-serif;
    height: 10vw; /* Фиксированная высота */
    resize: none; /* Отключаем возможность изменения размера */
    padding: 12px;
    font-size: 1.2vw;
}

.Form_items {
    display: flex;
    flex-direction: column;
    gap: 1.5vw; /* Расстояние между элементами формы */
    width: 35vw; /* Ширина формы */
    margin-left: auto;
    margin-top: 10vh;
}

button {
    background-color: black;
    border: none;
    outline: none;
    padding: 8px;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 17px 30px; /* Внутренние отступы кнопки */
    border: none;
    cursor: pointer;
    align-self: flex-start;
    font-size: 1.3vw;
}

.Button-send {
    color: white;
    font-weight: 700;
}

#Form_vector {
    position: absolute;
    top: 0;
    left: 0;
    height: 35vw;
    width: auto;
    z-index: -100;
}

.networks {
    display: flex;
    gap: 1vw;
    align-items: end;
}

.carousel {
    display: flex;
    justify-content: space-between;
    
}

.carousel button {
    color: white;
}

